body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #e0d0ff ;
    user-select: none;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    background: linear-gradient(
        325deg, 
        #03001e 0%,
        #481868 30%,
        #a070c8 70%,
        #fdeff9 100%
    );
    padding: 40px;
}

h2{
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.reset{
    padding: 15px 20 px;
    width: 100%;
    color: #000;
    border:none;
    background-color: #fff;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
}

.reset:focus{
    color:#fc1e8a;
    background-color: #3a1e1e;
}

.game{
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;

    font-size: 4em;
    transform: rotateY(0deg);
    transition: 0.50s;
}

.item::after{
    content: "";
    position: absolute;
    inset: 0;
    background-color:  #ffa880 ;
    transition: 0.50s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.item.boxOpen {
    transform: rotateY(0deg);
  }
  
  .boxOpen::after,
  .boxMatch::after {
    transform: rotateY(180deg);
  }